
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Share+Tech+Mono&family=VT323&display=swap');

/* Variables */

:root {
    --dark-blue: #1a2c32;
    --pink: #f0f;
    --green: #0ff;
}

/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: var(--dark-blue);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../assets/patrones-con-ilustraciones-neon_1920x1080_xtrafondos.com.jpg");
    font-family: "Press Start 2P";
    line-height: 1.6;
}

header {
    display: flex;
    align-items: baseline;
    gap: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    font-family: "Bitcount Grid Double";
    background-color:var(--pink);
    color: var(--dark-blue);
    opacity: 0.9;
    filter: drop-shadow(0 0 5px var(--pink)) drop-shadow(0 0 15px var(--pink));
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Header */

header>h2 {
    font-size: 2rem;
    /* color: #e85e9e; */
}

nav>ul {
    display: flex;
    gap: 1rem;
}

ul {
    list-style: none;
}

/* main index */

h1 {
    font-size: 1.5rem;
    background-color: var(--green);
    opacity: 0.9;
}

h3 {
    background-color: var(--green);
    opacity: 0.9;
}

.select-link {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: var(--green);
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 15px var(--green));
}

.select-link:hover {
    background-color: var(--pink);
    filter: drop-shadow(0 0 5px var(--pink)) drop-shadow(0 0 15px var(--pink));
    cursor: pointer;
}

.select-link a {
    color: var(--pink);
}

.select-link:hover a {
    color: var(--green);
}

h4 {
    color: #1a1d1e;
}

/* main about */

#portrait {
    width: 150px;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 2px var(--green)) drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 15px var(--green));
}

/* main contact */

.contact-form {
    display: grid;
    grid-template-areas: 
        "name-label name name"
        "email-label email email"
        "subject-label subject subject"
        /* ". normal-label normal-radio"
        ". bueno-label bueno-radio"
        ". super-label super-radio"
        "project-label project-select project-select" */
        "contact-button contact-button contact-button";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--green);
    opacity: 0.9;
    filter: drop-shadow(0 0 2px var(--green)) drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 15px var(--green));
}

#name-label {grid-area: name-label;}
#name {grid-area: name;}
#email-label {grid-area: email-label;}
#email {grid-area: email;}
#subject-label {grid-area: subject-label;}
#subject {grid-area: subject;}
#normal-label {grid-area: normal-label;}
#normal-radio {grid-area: normal-radio;}
#bueno-label {grid-area: bueno-label;}
#bueno-radio {grid-area: bueno-radio;}
#super-label {grid-area: super-label;}
#super-radio {grid-area: super-radio;}
#project-label {grid-area: project-label;}
#project-select {grid-area: project-select;}
#contact-button {grid-area: contact-button;}


.contact-form input {
    padding: 0rem 0.5rem;
    border: none;
    border-radius: 0.2rem;
    background: var(--dark-blue);
    font-family: "Press Start 2P";
    font-size: 0.7rem;
    color: var(--green);
}

.type-label {
    font-size: 0.8rem;
}

.contact-form input::placeholder {
    color: var(--green);
}

/* .contact-form input[type="radio"] {
    accent-color: var(--pink);
} */
/* #project-select {
    color: var(--green);
    border-radius: 0.2rem;
    background-color: var(--dark-blue);
}
#project-select option {
    color: var(--green);
}
#project-select option:hover {
    background-color: #f0f;
}
::-webkit-scrollbar {
    display: none;
} */

#project-button {

}

/* footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 2rem;
    padding: 1rem 2rem;
    border-top: 1px solid var(--pink);
    font-size: 0.6rem;
    filter: drop-shadow(0 0 2px var(--pink)) drop-shadow(0 0 5px var(--pink)) drop-shadow(0 0 15px var(--pink));
}

.footer-name, .footer-nav, .footer-contact {
    width: 100px;
    /* flex: 1; */
}

footer a:hover {
    filter: drop-shadow(0 0 2px var(--green)) drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 15px var(--green));
}